{% extends 'base.html' %}
{% block content %}
<body>
<div class="container projects" style="margin-top:10%;">
  <div class="row">
    {% for project in projects %}
      <div class="col-md-3 pt-4" >
          <div class="card-sl">
              <div class="card-image">
                  <img src="" />
              </div>

              <a class="card-action" href="#">view<i class="fa fa-heart"></i></a>
              <div class="card-heading">
                  {{project.project_name}}
              </div>
              <div class="card-text">
 
              </div>
              <div class="card-text">
                  {{project.creation_date}}
              </div>
  
          </div>
      </div>
      {% endfor %}
  </div>  
</body>
{% endblock %}
<a href="#" class="card-button">{{project.title}}</a>