{%extends 'base.html'%}

 {% block content %}
<div class="container" style="margin-top:8%;">

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{project.project_image.url}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-0" style="color: white">{{project.project_name}}</h3>
      <p class=" pt-2">{{project.project_description}}</p>
      <!-- <h3 class="my-3">Project Details</h3> -->
    </div>

  </div>
<div class="row">
  <div class="container">
    <div class="col-md-12">
    </div>
  </div>
</div>
</div>
 {% endblock %}
